body{
    font-family: 'Albert Sans', sans-serif;
    font-family: 'Open Sans', sans-serif;
    background-color: #999999;
    zoom: 50%;
}
#container_geral{
    width: 890px;
    background-color: #FFFFFF;
    margin: auto;
    margin-top: 25px;
    padding-top: 33px;
    font-size: 13px;
}
table{
    border: 2px solid #bbbbbba2;
    text-align: left;
    border-collapse: collapse;
    margin: auto;
    margin-bottom: 10px;
}
table td{
    border: 2px solid #bbbbbba2;
    width: 74px;
    padding-left: 4px;
}
input{
    border: none;
    text-align: left;
}
